<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/images/StarplexEscuro.png" 
             alt="starplex logo" 
             width="175px" 
             height="175px">
    </div>

    <div class="menu-bar__item">
        <ul>
            <li><a routerLink="/home" [class.active]="activeLink === 'home'" (click)="setActive('home')">Home</a></li>
            <li><a routerLink="/schedule" [class.active]="activeLink === 'schedule'" (click)="setActive('schedule')">Movie & Schedule</a></li>
            <li><a routerLink="/cinema" [class.active]="activeLink === 'cinema'" (click)="setActive('cinema')">Cinema</a></li>
            <li><a routerLink="/events" [class.active]="activeLink === 'events'" (click)="setActive('events')">Events</a></li>
            <li><a routerLink="/promotion" [class.active]="activeLink === 'gifts'" (click)="setActive('gifts')">Gifts & Promotion</a></li>
        </ul>
    </div>

    <div class="menu-bar__actions">
        <a href="#"><i class="fas fa-search"></i></a>
        <a href="#" class="login-link">
            <img src="assets/images/Avatar.png" alt="User Avatar" class="avatar">
            <div class="login-text-container">
                <span class="login-text">Log in or</span>
                <span class="signup-text">Sign up</span>
            </div>
        </a>
    </div>
</div>
